<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h1>
      <a> About this web app.</a>
    </h1>

    <h3>
         <a href = "{{ url_for('home') }}"> Back to homepage </a>
    </h3>

    <h2>
      <a> What does this web app do? </a>
    </h2>
    <p> Blah blah blah...</p>

    <h2>
      <a> How does it predict my MBTI type? </a>
    </h2>
    <p> Blah blah blah...</p>

    <h2>
      <a> Who develops it? </a>
    </h2>
    <p> Blah blah blah...</p>

    <body>
      <a href = "https://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/"> Learn more about MBTI </a>
    </body>

  

</body>
</html>